<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:component="urn:jsptagdir:/WEB-INF/tags/component" xmlns:util="urn:jsptagdir:/WEB-INF/tags/util"
     xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
  <jsp:directive.page contentType="text/html;charset=UTF-8" />
  <jsp:output omit-xml-declaration="yes" />
  <spring:message var="app_name" code="application_name" htmlEscape="false" />
  <spring:message var="title"    code="welcome_titlepane" arguments="${app_name}" htmlEscape="false" />
  <!-- Load Internal CSS  -->
  <spring:url value="/resources/styles/tablegray.css" var="table_gray" />
  
  <link rel="stylesheet" type="text/css" href="${table_gray}"/>
  <style>
  	.top200 {
                top: 200px;
        }
  	.top0 {
                top: 0px;
        }
  </style>
  
  <!-- Load JS  -->
  <spring:url value="${urls.getForLookupPath('/resources/scripts/app/saleorder/saleorder-common.js')}"        var="saleorder_common_js" />
		
  <script type="text/javascript"  src="${saleorder_common_js}" ><!-- required for FF3 and Opera --></script>
  
  <!-- Initial I18N -->
  <c:set scope="request" var="BUTTON_NEW_ITEM"><spring:message code="BT0002.new_item"/></c:set>
  
  
  <c:set scope="request" var="LABEL_SALE_ORDER_LIST"><spring:message code="LABEL_SALE_ORDER_LIST"/></c:set>
  <c:set scope="request" var="LABEL_SALE_DATE"><spring:message code="LABEL_SALE_DATE"/></c:set>
  <c:set scope="request" var="LABEL_SALE_TIME"><spring:message code="LABEL_SALE_TIME"/></c:set>
  <c:set scope="request" var="LABEL_SO_NUMBER"><spring:message code="LABEL_SO_NUMBER"/></c:set>
  <c:set scope="request" var="LABEL_SALER"><spring:message code="LABEL_SALER"/></c:set>
  <c:set scope="request" var="LABEL_PRICE"><spring:message code="LABEL_PRICE"/></c:set>
  <c:set scope="request" var="LABEL_ACTION"><spring:message code="LABEL_ACTION"/></c:set>
  <c:set scope="request" var="LABEL_SALE_ORDER_NUMBER"><spring:message code="LABEL_SALE_ORDER_NUMBER"/></c:set>
  <c:set scope="request" var="LABEL_TOTAL_ITEM"><spring:message code="LABEL_TOTAL_ITEM"/></c:set>
  <c:set scope="request" var="LABEL_PIECE_"><spring:message code="LABEL_PIECE_"/></c:set>
  <c:set scope="request" var="LABEL_TOTAL_AMOUNT"><spring:message code="LABEL_TOTAL_AMOUNT"/></c:set>
  <c:set scope="request" var="LABEL_REBATE"><spring:message code="LABEL_REBATE"/></c:set>
  <c:set scope="request" var="LABEL_VAT"><spring:message code="LABEL_VAT"/></c:set>
  <c:set scope="request" var="LABEL_SUB_TOTAL_AMOUNT"><spring:message code="LABEL_SUB_TOTAL_AMOUNT"/></c:set>
  <c:set scope="request" var="LABEL_TENDED_AMOUNT"><spring:message code="LABEL_TENDED_AMOUNT"/></c:set>
  <c:set scope="request" var="LABEL_CHANGE_AMOUNT"><spring:message code="LABEL_CHANGE_AMOUNT"/></c:set>
  <c:set scope="request" var="LABEL_ROUND_TYPE"><spring:message code="LABEL_ROUND_TYPE"/></c:set>
  <c:set scope="request" var="LABEL_PAYMENT_TYPE"><spring:message code="LABEL_PAYMENT_TYPE"/></c:set>
  <c:set scope="request" var="LABEL_ITEM_COST_AMOUNT"><spring:message code="LABEL_ITEM_COST_AMOUNT"/></c:set>
  <c:set scope="request" var="LABEL_FIX_COST"><spring:message code="LABEL_FIX_COST"/></c:set>
  <c:set scope="request" var="LABEL_CONTRIBUTION"><spring:message code="LABEL_CONTRIBUTION"/></c:set>
  <c:set scope="request" var="LABEL_MARGIN"><spring:message code="LABEL_MARGIN"/></c:set>
  <c:set scope="request" var="LABEL_ITEM_CODE"><spring:message code="LABEL_ITEM_CODE"/></c:set>
  <c:set scope="request" var="LABEL_BARCODE"><spring:message code="LABEL_BARCODE"/></c:set>
  <c:set scope="request" var="LABEL_PRODUCT_NAME"><spring:message code="LABEL_PRODUCT_NAME"/></c:set>
  <c:set scope="request" var="LABEL_PRICE"><spring:message code="LABEL_PRICE"/></c:set>
  <c:set scope="request" var="LABEL_QUANTITY"><spring:message code="LABEL_QUANTITY"/></c:set>
  <c:set scope="request" var="LABEL_TOTAL"><spring:message code="LABEL_TOTAL"/></c:set>
  <c:set scope="request" var="LABEL_REBATE_AMOUNT"><spring:message code="LABEL_REBATE_AMOUNT"/></c:set>
  <c:set scope="request" var="LABEL_VAT_AMOUNT"><spring:message code="LABEL_VAT_AMOUNT"/></c:set>
  <c:set scope="request" var="LABEL_CUSTOMER_CODE"><spring:message code="LABEL_CUSTOMER_CODE"/></c:set>
  
  
  
  <div class="container" style="padding-top: 5px;margin-left: 20px;margin-right: 20px;width: 1320px;" >
  	<div class="row">
  	
  		<div class="col-sm-5">
  		<div class="row">
            <div class="col-sm-12">
                <div class="panel panel-material-grey-800">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                        	<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                ${LABEL_SALE_ORDER_LIST }
                            </a>
                        </h3>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel">
	                    	<div class="panel-body" style="background-color: #424242;">
	                            <form class="form-horizontal">
	                                <div class="form-group">
			                        	<div class="col-sm-5">
			                        		<input type="text" id="search_soNumber" class="form-control" placeholder="${LABEL_SO_NUMBER }"  style="color: #ff0000;" />
			                        	</div>
			                        	<div class="col-sm-5">
			                        		<input type="text" id="search_saleDate" class="form-control" placeholder="${LABEL_SALE_DATE } : DD-MM-YYYY" style="color: #ff0000;"/> 
			                        	</div>
			                        	<div class="col-sm-2" style="top: 13px;">
			                        		<button id="search_button"  style="border-radius: 60px;width: 60px;height: 60px;padding-left: 20px;padding-right: 20px;margin-top: -20;margin-top: 0px;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;position: relative;top: -9px;left: -24px;    background-color: #0097a7;"  class="btn btn-lg" type="button"><span class="fa fa-search"></span></button>
			                        	</div>
			                        	<div class="col-sm-5">
			                        		<input type="text" id="search_customerCode" class="form-control" placeholder="${LABEL_CUSTOMER_CODE }" style="color: #ff0000;"/> 
			                        	</div>
			                        	
			                        </div>
	                            </form>
	                        </div>
                     </div>
                    <div class="table-responsive" id="gridSaleOrderHead">
                    	<table class="table" >
                                <thead class="trgray">
                                    <tr>
                                        <th class="text-center">${LABEL_SO_NUMBER }</th>
                                        <th class="text-center">${LABEL_SALER }</th>
                                        <th class="text-center">${LABEL_SALE_DATE }</th>
                                        <th class="text-center">${LABEL_PRICE }</th>
                                        <th class="text-center">${LABEL_ACTION }</th>
                                    </tr>
                                </thead>
                                <tbody id="gridSaleOrderBody">
                                </tbody>
                     	</table>
                     </div>
                </div>
            </div>
        </div>
        
        <div class="form-group">
           <util:pagingutil id="paggingSearchSaleOrder"/>
        </div>
        
  		</div>
  		
  		
        
        
  		<div class="col-sm-7">
  		<div class="row">
            <div class="col-sm-12">
                <div class="panel panel-material-grey-800">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                ${LABEL_SALE_ORDER_NUMBER } :
                            </a><label style="color: #34f321;padding-left: 4px;font-size: 24px" id="detail_soNumber" >-</label>
                        </h3>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel">
                        <div class="panel-body" style="background-color: #424242;">
                            <form class="form-horizontal">
                                <div class="form-group">
                                	<div class="row">
			                        	<div class="col-sm-5">
				                        	<div class="row">
					                        	<div class="col-sm-12">
						                        		<label style="color: #ffffff;padding-left: 10px;">${LABEL_SALER } : </label><label id="detail_saler"   style="color: #03a9f4;padding-left: 4px;" >-</label>
						                        </div>
				                        	</div>
				                        	<div class="row">
					                        	<div class="col-sm-12">
						                        		<label style="color: #ffffff;padding-left: 10px;">${LABEL_SALE_TIME } : </label><label id="detail_saleDate" style="color: #03a9f4;padding-left: 4px;">-</label>
						                        </div>
				                        	</div>
				                        	<div class="row">
						                        	<div class="col-sm-12">
						                        	<label style="color: #ffffff;padding-left: 10px;">${LABEL_CUSTOMER_CODE } : </label><label id="detail_customerCode" style="color: #03a9f4;padding-left: 4px;">-</label>
						                        	</div>
					                        	</div>
					                        	<div class="row">
						                        	<div class="col-sm-12">
							                        		<label style="color: #ffffff;padding-left: 10px;">${LABEL_TOTAL_ITEM } : </label><label  id="detail_itemCount" style="color: #03a9f4;padding-left: 4px;">-</label><label style="color: #03a9f4;padding-left: 4px;">${LABEL_PIECE_ }.</label>
							                        </div>
					                        	</div>
			                        	</div>
			                        	<div class="col-sm-7">
				                        		<div class="row">
						                        	<div class="col-sm-12"><label ><jsp:text/></label></div>
					                        	</div>
					                        	<div class="row">
						                        	<div class="col-sm-12">
							                        		<h3 style="margin-top: 0px;margin-bottom: 0px;">
							                        			<label style="color: #ffffff;padding-left: 10px;">${LABEL_TOTAL_AMOUNT }</label>
							                        			<label id="detail_totalAmount"  style="color: #34f321;position: absolute;right: 45px;top:-10px;font-size: 40px">-</label>
							                        			<label style="color: #34f321;padding-left: 10px;font-size: 40px;position: absolute;right: 20px;top:-10px;">$</label>
							                        		</h3>
							                        </div>
					                        	</div>
				                        		<div class="row">
						                        	<div class="col-sm-12">
							                        		<label style="color: #ffffff;padding-left: 10px;">${LABEL_REBATE } : </label><label id="detail_rebateAmount" style="color: #03a9f4;padding-left: 4px;">-</label><label style="color: #03a9f4;padding-left: 4px;">$</label>
							                        </div>
					                        	</div>
					                        	<div class="row">
						                        	<div class="col-sm-12">
							                        		<label style="color: #ffffff;padding-left: 10px;">${LABEL_VAT }. : </label><label id="detail_vatAmount" style="color: #03a9f4;padding-left: 4px;">-</label><label style="color: #03a9f4;padding-left: 4px;">$</label>
							                        </div>
					                        	</div>
					                        	<div class="row" style="height: 2px;">
						                        	<div class="col-sm-12"  style="height: 2px;">
							                        		<button type="button" class="btn btn-lg" style="box-shadow: 5px 5px 5px #424242;border-radius: 60px;width: 60px;height: 60px;padding-left: 16px;padding-right: 20px;margin-top: -20;margin-top: 0px;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;position: relative;left: 339px;background-color: #ff9800;" id="special_information_button"><span class="fa fa-eye top0" style="font-size: 30px;color: rgba(14, 12, 12, 0.84);"></span></button>
													</div>
					                        	</div>
			                        	</div>
                                	</div>
		                        	<div class="row" style="display: none;" id="special_information" >
			                        	<div class="col-sm-5">
				                        	<div class="row">
					                        	<div class="col-sm-12">
							                        <label style="color: #ffffff;padding-left: 10px;">${LABEL_SUB_TOTAL_AMOUNT } : </label>
							                        <label id="detail_subTotalAmount" style="color: #03a9f4;padding-left: 4px;position: absolute;right: 20px;">-</label>
							                        <label style="color: #ffffff;padding-left: 4px;position: absolute;right: 5px;">$</label>
							                    </div>
				                        	</div>
				                        	<div class="row">
					                        	<div class="col-sm-12">
							                        <label style="color: #ffffff;padding-left: 10px;">${LABEL_REBATE_AMOUNT } : </label>
							                        <label id="detail_x_rebateAmount" style="color: #34f321;padding-left: 4px;position: absolute;right: 110px;">-</label>
							                        <label style="color: #ffffff;padding-left: 4px;position: absolute;right: 95px;">$</label>
							                        <label id="detail_subTotalAfterRebateAmount" style="color: #03a9f4;padding-left: 40px;position: absolute;right: 20px;">-</label>
							                        <label style="color: #ffffff;padding-left: 4px;position: absolute;right: 5px;">$</label>
							                    </div>
				                        	</div>
				                        	<div class="row">
					                        	<div class="col-sm-12">
							                        <label style="color: #ffffff;padding-left: 10px;">${LABEL_VAT_AMOUNT } : </label>
							                        <label id="detail_x_vatAmount" style="color: #34f321;padding-left: 4px;position: absolute;right: 110px;">-</label>
							                        <label style="color: #ffffff;padding-left: 4px;position: absolute;right: 95px;">$</label>
							                        <label id="detail_subTotalAfterVatAmount" style="color: #03a9f4;padding-left: 40px;position: absolute;right: 20px;">-</label>
							                        <label style="color: #ffffff;padding-left: 4px;position: absolute;right: 5px;">$</label>
							                    </div>
				                        	</div>
				                        	<div class="row">
					                        	<div class="col-sm-12">
							                        <label style="color: #ffffff;padding-left: 10px;">${LABEL_TOTAL_AMOUNT } : </label>
							                        <label id="detail_x_totalAmount" style="color: #03a9f4;padding-left: 4px;position: absolute;right: 20px;">-</label>
							                        <label style="color: #ffffff;padding-left: 4px;position: absolute;right: 5px;">$</label>
							                    </div>
				                        	</div>
				                        	<div class="row">
					                        	<div class="col-sm-12">
							                        <label style="color: #ffffff;padding-left: 10px;">${LABEL_TENDED_AMOUNT } : </label>
							                        <label id="detail_tendedAmount" style="color: #03a9f4;padding-left: 4px;position: absolute;right: 20px;">-</label>
							                        <label style="color: #ffffff;padding-left: 4px;position: absolute;right: 5px;">$</label>
							                    </div>
				                        	</div>
				                        	<div class="row">
					                        	<div class="col-sm-12">
							                        <label style="color: #ffffff;padding-left: 10px;">${LABEL_CHANGE_AMOUNT } : </label>
							                        <label id="detail_changeAmount" style="color: #03a9f4;padding-left: 4px;position: absolute;right: 20px;">-</label>
							                        <label style="color: #ffffff;padding-left: 4px;position: absolute;right: 5px;">$</label>
							                    </div>
				                        	</div>
				                        	<div class="row">
					                        	<div class="col-sm-12">
							                        <label style="color: #ffffff;padding-left: 10px;">${LABEL_ROUND_TYPE } : </label>
							                        <label id="detail_roundType" style="color: #03a9f4;padding-left: 4px;position: absolute;right: 20px;">-</label>
							                    </div>
				                        	</div>
				                        	<div class="row">
					                        	<div class="col-sm-12">
							                        <label style="color: #ffffff;padding-left: 10px;">${LABEL_PAYMENT_TYPE } : </label>
							                        <label id="detail_paymentType" style="color: #03a9f4;padding-left: 4px;position: absolute;right: 20px;">-</label>
							                    </div>
				                        	</div>
			                        	</div>
			                        	<div class="col-sm-5">
				                        	<div class="row">
					                        	<div class="col-sm-12">
							                        <label style="color: #ffffff;padding-left: 10px;">${LABEL_ITEM_COST_AMOUNT } : </label>
							                        <label id="detail_itemCostAmount" style="color: #03a9f4;padding-left: 4px;position: absolute;right: 20px;">-</label>
							                        <label style="color: #ffffff;padding-left: 4px;position: absolute;right: 5px;">$</label>
							                    </div>
				                        	</div>
				                        	<div class="row">
					                        	<div class="col-sm-12">
							                        <label style="color: #ffffff;padding-left: 10px;">${LABEL_FIX_COST } : </label>
							                        <label id="detail_fixCostPercentage" style="color: #34f321;padding-left: 4px;position: absolute;right: 110px;">-</label>
							                        <label style="color: #ffffff;padding-left: 4px;position: absolute;right: 95px;">%</label>
							                        <label id="detail_fixCostAmount" style="color: #03a9f4;padding-left: 40px;position: absolute;right: 20px;">-</label>
							                        <label style="color: #ffffff;padding-left: 4px;position: absolute;right: 5px;">$</label>
							                    </div>
				                        	</div>
				                        	<div class="row">
					                        	<div class="col-sm-12">
							                        <label style="color: #ffffff;padding-left: 10px;">${LABEL_CONTRIBUTION } : </label>
							                        <label id="detail_contributionPercentage" style="color: #34f321;padding-left: 4px;position: absolute;right: 110px;">-</label>
							                        <label style="color: #ffffff;padding-left: 4px;position: absolute;right: 95px;">%</label>
							                        <label id="detail_contributionAmount" style="color: #03a9f4;padding-left: 40px;position: absolute;right: 20px;">-</label>
							                        <label style="color: #ffffff;padding-left: 4px;position: absolute;right: 5px;">$</label>
							                    </div>
				                        	</div>
				                        	<div class="row">
					                        	<div class="col-sm-12">
							                        <label style="color: #ffffff;padding-left: 10px;">${LABEL_MARGIN} : </label>
							                        <label id="detail_marginPercentage" style="color: #34f321;padding-left: 4px;position: absolute;right: 110px;">-</label>
							                        <label style="color: #ffffff;padding-left: 4px;position: absolute;right: 95px;">%</label>
							                        <label id="detail_marginAmount" style="color: #03a9f4;padding-left: 40px;position: absolute;right: 20px;">-</label>
							                        <label style="color: #ffffff;padding-left: 4px;position: absolute;right: 5px;">$</label>
							                    </div>
				                        	</div>
			                        	</div>
                                	</div>
		                        </div>
                            </form>
                        </div>
                    </div>
                    
                     <div class="table-responsive" id="gridSaleOrderItemHead">
                    	<table class="table" >
                                <thead class="trgray" style="color: #03a9f4;">
                                    <tr style="height: 60px;">
                                        <th class="text-center">${LABEL_ITEM_CODE }</th>
                                        <th class="text-center">${LABEL_BARCODE }</th>
                                        <th class="text-center">${LABEL_PRODUCT_NAME }</th>
                                        <th class="text-center">${LABEL_PRICE }</th>
                                        <th class="text-center">${LABEL_QUANTITY }</th>
                                        <th class="text-center">${LABEL_TOTAL }</th>
                                    </tr>
                                </thead>
                                <tbody id="gridSaleOrderItemBody" >
                                </tbody>
                     </table>
                     </div>
                </div>
                
                 <div class="form-group">
           			<util:pagingutil id="paggingSearchSaleOrderItem"/>
        		</div>
            </div>
        </div>
  		</div>
  	</div>
  </div><!-- div .container -->
  
	  
</div>