<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:component="urn:jsptagdir:/WEB-INF/tags/component" xmlns:util="urn:jsptagdir:/WEB-INF/tags/util"
     xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
  <jsp:directive.page contentType="text/html;charset=UTF-8" />
  <jsp:output omit-xml-declaration="yes" />
  <spring:message var="app_name" code="application_name" htmlEscape="false" />
  <spring:message var="title"    code="welcome_titlepane" arguments="${app_name}" htmlEscape="false" />
  <!-- Load Internal CSS  -->
  <spring:url value="/resources/styles/tablegray.css" var="table_gray" />
  
  <link rel="stylesheet" type="text/css" href="${table_gray}"/>
  
  <!-- Initial I18N -->
  <c:set scope="request" var="LABEL_SALE_REPORT"><spring:message code="LABEL_SALE_REPORT"/></c:set>
  <c:set scope="request" var="LABEL_START_DATE"><spring:message code="LABEL_START_DATE"/></c:set>
  <c:set scope="request" var="LABEL_END_DATE"><spring:message code="LABEL_END_DATE"/></c:set>
  
  <c:set scope="request" var="LABEL_SALER"><spring:message code="LABEL_SALER"/></c:set>
  <c:set scope="request" var="LABEL_SUB_TOTAL"><spring:message code="LABEL_SUB_TOTAL"/></c:set>
  <c:set scope="request" var="LABEL_REBATE"><spring:message code="LABEL_REBATE"/></c:set>
  <c:set scope="request" var="LABEL_VAT"><spring:message code="LABEL_VAT"/></c:set>
  <c:set scope="request" var="LABEL_TOTAL"><spring:message code="LABEL_TOTAL"/></c:set>
  <c:set scope="request" var="LABEL_SUB_TOTAL_REBATE"><spring:message code="LABEL_SUB_TOTAL_REBATE"/></c:set>
  <c:set scope="request" var="LABEL_ITEM_COST_AMOUNT"><spring:message code="LABEL_ITEM_COST_AMOUNT"/></c:set>
  <c:set scope="request" var="LABEL_CONTRIBUTION"><spring:message code="LABEL_CONTRIBUTION"/></c:set>
  <c:set scope="request" var="LABEL_MARGIN"><spring:message code="LABEL_MARGIN"/></c:set>
  
  
  
  <!-- Load JS  -->
  <spring:url value="${urls.getForLookupPath('/resources/scripts/app/report/sale.js')}"        var="report_sale_js" />
		
  <script type="text/javascript"  src="${report_sale_js}" ><!-- required for FF3 and Opera --></script>
  
  <div class="container" style="padding-top: 5px;margin-left: 20px;margin-right: 20px;width: 1320px;" >
  	<div class="row">
  	
  		<div class="col-sm-12">
  		<div class="row">
            <div class="col-sm-12">
                <div class="panel panel-material-grey-800">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                        	<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                ${LABEL_SALE_REPORT }
                            </a>
                        </h3>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel">
	                    	<div class="panel-body" style="background-color: #424242;">
	                            <form class="form">
	                            	<div class="row">
	                            		<div class="form-group">
				                        	<div class="control-label col-sm-2" style="top: 13px;padding-right: 0px; width: 105px;">
				                        		<label style="color: #009688;font-size: 15px;">${LABEL_START_DATE }</label>
				                        	</div>
				                        	<div class="col-sm-3" style="padding-left: 0px;padding-right: 0px;width: 325px;" >
				                        		<input type="text" class="form-control textAuto"  id="search_startDate" style="color: #ffffff;font-size: 16px;" placeholder="YYYYMMDD" />
				                        	</div>
				                        </div>
		                                <div class="form-group">
				                        	<div class="control-label col-sm-2" style="top: 0px;padding-right: 0px;width: 105px;margin-left: 15px;padding-left: 0px;left: 15px;">
				                        		<label style="color: #009688;font-size: 15px;">${LABEL_END_DATE }</label>
				                        	</div>
				                        	<div class="col-sm-3" style="padding-left: 0px;buttom:15px;padding-right: 0px;margin-bottom: 0px;padding-bottom: 0px;border-bottom-width: 15px;bottom: 15px;width: 325px;" >
				                        		<input type="text" class="form-control textAuto"  id="search_endDate" style="color: #ffffff;font-size: 16px;" placeholder="YYYYMMDD" />
				                        	</div>
				                        </div>
	                            	</div>
	                            	<div class="row">
		                            	<div class="form-group">
				                        	<div class="col-sm-5">
				                        		<input type="text" id="search_saler" class="form-control" placeholder="${LABEL_SALER }"  style="color: #ff0000;" />
				                        	</div>
				                        	<div class="col-sm-2" style="top: 13px;">
				                        		<button style="box-shadow: 5px 5px 5px #424242;border-radius: 60px;width: 60px;height: 60px;padding-left: 20px;padding-right: 20px;margin-top: -20;margin-top: 0px;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;position: relative;left: 650px;background-color: #ff9800;top: 30px;" class="btn btn-lg" type="button" id="search_button"><span style="font-size: 24px;color: rgba(14, 12, 12, 0.84);" class="fa fa-search"></span></button>
				                        	</div>
				                        	
				                        </div>
	                            	</div>
	                                
	                                
	                            </form>
	                        </div>
                     </div>
                    <div class="table-responsive" id="gridReportHead">
                    	<table class="table" >
                                <thead class="trgray">
                                    <tr style="height: 60px;">
                                        <th class="text-center">${LABEL_SALER }</th>
                                        <th class="text-center">${LABEL_SUB_TOTAL }</th>
                                        <th class="text-center">${LABEL_REBATE }</th>
                                        <th class="text-center">${LABEL_VAT }</th>
                                        <th class="text-center">${LABEL_TOTAL }</th>
                                        <th class="text-center">${LABEL_SUB_TOTAL_REBATE }</th>
                                        <th class="text-center">${LABEL_ITEM_COST_AMOUNT }</th>
                                        <th class="text-center">${LABEL_CONTRIBUTION }</th>
                                        <th class="text-center">${LABEL_MARGIN }</th>
                                    </tr>
                                </thead>
                                <tbody id="gridReportBody">
                                </tbody>
                     	</table>
                     </div>
                </div>
            </div>
        </div>
        
        <div class="form-group">
           <util:pagingutil id="paggingReport"/>
        </div>
        
  		</div>
  		
  		
        
        
  		
  	</div>
  </div><!-- div .container -->
  
	  
</div>