<div xmlns:spring="http://www.springframework.org/tags" xmlns:util="urn:jsptagdir:/WEB-INF/tags/util" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
  <jsp:directive.page contentType="text/html;charset=UTF-8" />
  <jsp:output omit-xml-declaration="yes" />
  <spring:message var="app_name" code="application_name" htmlEscape="false" />
  <spring:message var="title" code="welcome_titlepane" arguments="${app_name}" htmlEscape="false" />
  
  <script type="text/javascript">
  
  function getPlant(param) {
	     $PARAMETER_FETCH.store =  $PARAMETER_FETCH.db.transaction(["parameter"]).objectStore("parameter")
	     var request = $PARAMETER_FETCH.store.get(param);
	     
	     request.onerror = function(event) {
	     };
	     
	     request.onsuccess = function(event) {
	        // Do something with the request.result!
	        if(request.result) {
	           alert("description: " + request.result.parameterDetails );
	        }
	        else {
	           alert("No Parameter Setup!");
	           console.log("No Parameter in local memory chould be call ajax request");
	        }
	     };
	  }

  
  </script>
 <input type="text" id="fname" />
  <button onclick="getPlant(document.getElementById('fname').value)">Read </button>
  <button onclick="readAll()">Read All</button>
  <button onclick="add()">Add</button>
  <button onclick="remove()">Delete </button>
  
      
	  
</div>