.trgray{
    background-color: #6b6b6d;
    color: #17e4d1;
}

.tdcenter{
    text-align: center;
}

.tdleft{
    text-align: left;
}

.tdright{
    text-align: right;
}

.tdflagactivered{
    text-align: left;
    color: #ff0000;
}

.tdflagactivegreen{
    text-align: left;
    color: #009933;
}

.trwhite{
    background-color: #ffffff;
}

.trlightgray{
    background-color: #f2f2f2;
}

.trquarter{
    background-color: rgba(3, 169, 244, 0.34);
}

.trsummary{
        background-color: rgb(4, 8, 204);
        color: azure;
}